# Study Preservation Cases
## Responsabilities of this file
* Create all the proposed species study cases for the project

## Who is Running?

In [1]:
#Matheus
project_root = "/content/drive/MyDrive/Mestrado/Deep Learning/Projeto"
#Gabi
# project_root = "/content/drive/MyDrive/Deep Learning/Projeto"
#Jean
#Sandra

from google.colab import drive
drive.mount('/content/drive')

## Retrieving aux Classes

In [2]:
!wget https://raw.githubusercontent.com/math-sasso/extinction-prevention-modeling-MO434/main/Aux_Files/utils.py

--2020-12-14 18:17:21--  https://raw.githubusercontent.com/math-sasso/extinction-prevention-modeling-MO434/main/Aux_Files/utils.py
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 151.101.0.133, 151.101.64.133, 151.101.128.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|151.101.0.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 800 [text/plain]
Saving to: ‘utils.py’

utils.py            100%[===================>]     800  --.-KB/s    in 0s

2020-12-14 18:17:22 (30.9 MB/s) - ‘utils.py’ saved [800/800]

In [3]:
from utils import Utils
utils_methods = Utils()

## Creating Folder Structure

In [4]:
utils_methods.create_folder_structure(project_root+"/Data/Study_Cases")

## Study Cases

In [5]:
all_species_dict= {}

### Arara-Azul Gigante

In [7]:
import pandas as pd
import os

# Muitas ocorreências e localizado no país
studied_specie_information = {'GBIF_ID':[2479359,2732686,7413879, 2732758],
                              'Species_Name':['Anodorhynchus hyacinthinus','Attalea maripa','Acrocomia aculeata','Attalea phalerata'],
                              'Study_Focus':[True,False,False,False]
                              }
studied_specie_information_df = pd.DataFrame. studied_specie_information_df = pd.DataFrame.from_dict(studied_specie_information)
species_name = studied_specie_information_df[studied_specie_information_df['Study_Focus'] ==True]['Species_Name'][0]
csv_name = species_name.replace(" ","_")
studied_specie_information_df.to_csv(os.path.join(project_root+"/Data/Study_Cases",csv_name+'.csv'),index = False, header=True)
studied_specie_information_df

   GBIF_ID                Species_Name  Study_Focus
0  2479359  Anodorhynchus hyacinthinus         True
1  2732686              Attalea maripa        False
2  7413879          Acrocomia aculeata        False
3  2732758           Attalea phalerata        False

###Ariranha

In [8]:
# Poucas ocorrências e espalhadas pelo país.
studied_specie_information = {'GBIF_ID':[2433681,2352230,2354120,2352479],
                              'Species_Name':['Pteronura brasiliensis','Serrasalmus spilopleura','Acrocomia aculeata','Pygocentrus nattereri'],
                              'Study_Focus':[True,False,False,False]
                              }
studied_specie_information_df = pd.DataFrame. studied_specie_information_df = pd.DataFrame.from_dict(studied_specie_information)
species_name = studied_specie_information_df[studied_specie_information_df['Study_Focus'] ==True]['Species_Name'][0]
csv_name = species_name.replace(" ","_")
studied_specie_information_df.to_csv(os.path.join(project_root+"/Data/Study_Cases",csv_name+'.csv'),index = False, header=True)
studied_specie_information_df

   GBIF_ID             Species_Name  Study_Focus
0  2433681   Pteronura brasiliensis         True
1  2352230  Serrasalmus spilopleura        False
2  2354120       Acrocomia aculeata        False
3  2352479    Pygocentrus nattereri        False

### Cangambám ou Jaratataca

In [9]:
# Mais localizado na américa central, mas possui ocorrências no Brasil
# Poucas ocorreências e localizado no país
studied_specie_information = {'GBIF_ID':[2434883,1458,1470,3034046,2435099],
                              'Species_Name':['onepatus semistriatus','Orthoptera','Coleoptera','Persea americana','Puma concolor'],
                              'Study_Focus':[True,False,False,False,False]
                              }
studied_specie_information_df = pd.DataFrame. studied_specie_information_df = pd.DataFrame.from_dict(studied_specie_information)
species_name = studied_specie_information_df[studied_specie_information_df['Study_Focus'] ==True]['Species_Name'][0]
csv_name = species_name.replace(" ","_")
studied_specie_information_df.to_csv(os.path.join(project_root+"/Data/Study_Cases",csv_name+'.csv'),index = False, header=True)
studied_specie_information_df

   GBIF_ID           Species_Name  Study_Focus
0  2434883  onepatus semistriatus         True
1     1458             Orthoptera        False
2     1470             Coleoptera        False
3  3034046       Persea americana        False
4  2435099          Puma concolor        False

### Siriema

In [10]:
# Muitas ocorreências e espalhadas pelo país
studied_specie_information = {'GBIF_ID':[5226,216,775, 4850187],
                              'Species_Name':['Cariamidae','Insecta','Gymnophiona','Urubitinga Gray'],
                              'Study_Focus':[True,False,False,False]
                              }
studied_specie_information_df = pd.DataFrame. studied_specie_information_df = pd.DataFrame.from_dict(studied_specie_information)
species_name = studied_specie_information_df[studied_specie_information_df['Study_Focus'] ==True]['Species_Name'][0]
csv_name = species_name.replace(" ","_")
studied_specie_information_df.to_csv(os.path.join(project_root+"/Data/Study_Cases",csv_name+'.csv'),index = False, header=True)
studied_specie_information_df

   GBIF_ID     Species_Name  Study_Focus
0     5226       Cariamidae         True
1      216          Insecta        False
2      775      Gymnophiona        False
3  4850187  Urubitinga Gray        False